body {
    background-image: url('../resources/purple-sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
	place-content: center;
	min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.title-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 3em;
    line-height: 3;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

a.title {
	font-size: 5em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	color: transparent;
	-webkit-text-stroke: 1.5px purple;
	text-shadow: 0 0 0 #fff;
	transition: all 250ms;
}

a.title:hover {
    text-shadow: 4px 4px 0 #fff;
    transform: translate(-2px, -2px)
}

div.wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    gap: 1em;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    justify-content: space-between;
    line-height: 7;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 600px;
    align-items: center;
    justify-content: center;
    padding: 4em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.button-style {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: white;
    color: black;
    border-radius: 4px;
    align: center;
    width: 200px;
    height: 50px;
    display: block;
    line-height: 36px;
}

.button-style:hover {
    background: rgba(115, 22, 159, 0.8);
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(134, 58, 157) 100%); */
}

.button-style:active {
    transform: translate(0em, 0.2em);
}

.input-wrapper {
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: center;
    color: white;
}

.input-text {
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

h1 {
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

p {
    font-size: 1.5em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 50px;
    font-family: Arial, sans-serif;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #6a1b9a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.custom-file-upload:hover {
    background-color: #7e57c2;
}

.file-name {
    font-size: 14px;
    color: #afafaf;
    font-style: italic;
}
