body {
    background-image: url('../resources/purple-sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
	place-content: center;
	min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.title-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 3em;
    line-height: 3;
}

a {
    text-decoration: none;
    color: inherit;
}
  
a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

a.title {
	font-size: 5em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	color: transparent;
	-webkit-text-stroke: 1.5px purple;
	text-shadow: 0 0 0 #fff;
	transition: all 250ms;
}

a.title:hover {
    text-shadow: 4px 4px 0 #fff;
    transform: translate(-2px, -2px)
}


.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 7;
}

a.button-style {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: white;
    color: black;
    border-radius: 4px;
    align: center;
    width: 150px;
    height: 50px;
    display: block;
    line-height: 36px;
}
   
a.button-style:hover {
    background: rgba(115, 22, 159, 0.8);
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(134, 58, 157) 100%); */
}
   
a.button-style:active {
    transform: translate(0em, 0.2em);
}

h1 {
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

p {
    font-size: 1.5em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
